:root {
  /* Fonts */
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  /* Text colors */
  --main-txt-cl: #212121;
  --secondary-txt-cl: #757575;
  --light-txt-cl: #ffffff;
  --dark-logo-cl: #000000;
  --blue-cl: #2196f3;
  --info-txt-cl: rgba(255, 255, 255, 0.6);

  /* Background colors */
  --main-background-cl: #ffffff;
  --secondary-background-cl: #2f303a;
  --grey-background-cl: #f5f4fa;
}

.page {
  background-color: var(--main-background-cl);
  font-family: var(--main-font);
  color: var(--main-txt-cl);
}

/* Reset */
.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
}

/* HEADER */
.header-logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--dark-logo-cl);
}
.logo-part {
  color: var(--blue-cl);
}
.header {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
}
.main-nav-link:hover,
.main-nav-link:focus,
.main-nav-link.current,
.header-contact-link:hover,
.header-contact-link:focus {
  color: var(--blue-cl);
}
.header-contact-list {
  color: var(--secondary-txt-cl);
}

/* PAGE STUDIO */
/* HERO */
.hero {
  background-color: var(--secondary-background-cl);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--light-txt-cl);
}
.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: var(--light-txt-cl);
  background-color: var(--blue-cl);
  cursor: pointer;
  border-style: none;
  border-radius: 4px;
}

/* FEATURES */

/* .features-main-title {
  opacity: 0;
} */

.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features-subtitle {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--secondary-txt-cl);
}

/* FUNCTION */
.function-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
}

/* TEAM */
.team {
  background-color: var(--grey-background-cl);
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
}
.profession {
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-txt-cl);
}

/* FOOTER */
.footer {
  background-color: var(--secondary-background-cl);
}
.footer-logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--light-txt-cl);
}

.info {
  font-style: normal;
}
.adress-link {
  letter-spacing: 0.03em;
  color: var(--light-txt-cl);
}
.info-link {
  letter-spacing: 0.03em;
  color: var(--info-txt-cl);
}
.adress-link:hover,
.adress-link:focus,
.info-link:hover,
.info-link:focus {
  color: var(--blue-cl);
}

/* PAGE PORTFOLIO */

/* .gallery-main-title {
  opacity: 0;
} */

.btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
  background: var(--grey-background-cl);
  cursor: pointer;
}
.btn:hover,
.btn:focus,
.btn.active {
  color: var(--light-txt-cl);
  background-color: var(--blue-cl);
}

.gallery-title {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--main-txt-cl);
}
.gallery-subtitle {
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--secondary-txt-cl);
}
